@media screen and (max-width:800px){
    header .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    header nav a:hover{
        background-color: white;
        color: black;
        padding: 5px;
        }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 60%;
    }
}